# ETL Project

In [1]:
import pandas as pd
import numpy as np

fire_df = pd.read_csv('fire_data.csv')
fire_df.head()

,Unnamed: 0,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country
0,0,EONET_5285,Gila Fire,2021-04-13T00:00:00Z,2021-04-02T07:15:00Z,32.91400,-113.43700,2021,4,Northern Hemisphere,United States
1,1,EONET_5272,King Fire,2021-03-26T00:00:00Z,2021-03-17T15:30:00Z,26.95300,-98.08800,2021,3,Northern Hemisphere,United States
2,2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20T00:00:00Z,2021-03-12T14:42:00Z,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina
3,3,EONET_5267,Big Rocks Fire,2021-04-05T00:00:00Z,2021-03-08T16:30:00Z,37.74000,-115.00100,2021,3,Northern Hemisphere,United States
4,4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07T00:00:00Z,2021-03-01T18:46:00Z,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile

In [2]:
fire_df.columns

Index(['Unnamed: 0', 'ID', 'Name of Fire', 'End Date', 'Event Date',
       'Latitude', 'Longitude', 'Year', 'Month', 'Hemisphere', 'Country'],
      dtype='object')

In [3]:
fire_df.drop('Unnamed: 0', axis=1, inplace=True)
fire_df.head()

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country
0,EONET_5285,Gila Fire,2021-04-13T00:00:00Z,2021-04-02T07:15:00Z,32.91400,-113.43700,2021,4,Northern Hemisphere,United States
1,EONET_5272,King Fire,2021-03-26T00:00:00Z,2021-03-17T15:30:00Z,26.95300,-98.08800,2021,3,Northern Hemisphere,United States
2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20T00:00:00Z,2021-03-12T14:42:00Z,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina
3,EONET_5267,Big Rocks Fire,2021-04-05T00:00:00Z,2021-03-08T16:30:00Z,37.74000,-115.00100,2021,3,Northern Hemisphere,United States
4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07T00:00:00Z,2021-03-01T18:46:00Z,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile

In [4]:
# fixing data for row 1454.  
# Latitude and Longitude were switched, so the hemisphere was wrong and the country was missing.
temp = fire_df.loc[1454]
fire_df.loc[1454, 'Latitude'] = temp[5]
fire_df.loc[1454, 'Longitude'] = temp[4]
fire_df.loc[1454, 'Hemisphere'] = 'Northern Hemisphere'
fire_df.loc[1454, 'Country'] = 'Canada'
fire_df.loc[1454]

ID                                                     EONET_3014
Name of Fire    C11014 - East of Toil Mtn - Quesnel West Fire,...
End Date                                     2017-07-31T00:00:00Z
Event Date                                   2017-07-07T00:00:00Z
Latitude                                                52.810817
Longitude                                              -124.02195
Year                                                         2017
Month                                                           7
Hemisphere                                    Northern Hemisphere
Country                                                    Canada
Name: 1454, dtype: object

In [5]:
missing_country = fire_df[fire_df['Country'] == "Missing Data"]
missing_country

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country
1141,EONET_3436,Southeast Asia Agricultural Burning,2018-03-31T00:00:00Z,2018-01-01T00:00:00Z,8.960163,96.445312,2018,1,Northern Hemisphere,Missing Data
1778,EONET_333,"Bushfires, NW Tasmania",2016-02-15T00:00:00Z,2016-01-14T00:00:00Z,-42.233246,144.543457,2016,1,Southern Hemisphere,Missing Data
1781,EONET_235,"Esperance Fires, Australia",2015-11-24T00:00:00Z,2015-11-18T00:00:00Z,-34.203455,121.120605,2015,11,Southern Hemisphere,Missing Data
1824,EONET_199,"Indonesia Fires, Fall 2015",2015-10-31T00:00:00Z,2015-08-14T00:00:00Z,-6.474497,100.488281,2015,8,Southern Hemisphere,Missing Data

In [6]:
# drop missing data
fire_df.drop([1141, 1778, 1782, 1824], axis = 0, inplace=True)

In [7]:
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940 entries, 0 to 1943
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1940 non-null   object
 1   Name of Fire  1940 non-null   object
 2   End Date      1940 non-null   object
 3   Event Date    1940 non-null   object
 4   Latitude      1940 non-null   float64
 5   Longitude     1940 non-null   float64
 6   Year          1940 non-null   int64
 7   Month         1940 non-null   int64
 8   Hemisphere    1940 non-null   object
 9   Country       1940 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 166.7+ KB

**Adding Event Length to Fire Data Frame**

In [8]:
fire_df['End Date'] = pd.to_datetime(fire_df['End Date'])
fire_df['Event Date'] = pd.to_datetime(fire_df['Event Date'])
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940 entries, 0 to 1943
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1940 non-null   object
 1   Name of Fire  1940 non-null   object
 2   End Date      1940 non-null   datetime64[ns, UTC]
 3   Event Date    1940 non-null   datetime64[ns, UTC]
 4   Latitude      1940 non-null   float64
 5   Longitude     1940 non-null   float64
 6   Year          1940 non-null   int64
 7   Month         1940 non-null   int64
 8   Hemisphere    1940 non-null   object
 9   Country       1940 non-null   object
dtypes: datetime64[ns, UTC](2), float64(2), int64(2), object(4)
memory usage: 166.7+ KB

In [9]:
fire_df['Event Length'] = fire_df['End Date'] - fire_df['Event Date']
fire_df.head()

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country,Event Length
0,EONET_5285,Gila Fire,2021-04-13 00:00:00+00:00,2021-04-02 07:15:00+00:00,32.91400,-113.43700,2021,4,Northern Hemisphere,United States,10 days 16:45:00
1,EONET_5272,King Fire,2021-03-26 00:00:00+00:00,2021-03-17 15:30:00+00:00,26.95300,-98.08800,2021,3,Northern Hemisphere,United States,8 days 08:30:00
2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20 00:00:00+00:00,2021-03-12 14:42:00+00:00,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina,7 days 09:18:00
3,EONET_5267,Big Rocks Fire,2021-04-05 00:00:00+00:00,2021-03-08 16:30:00+00:00,37.74000,-115.00100,2021,3,Northern Hemisphere,United States,27 days 07:30:00
4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07 00:00:00+00:00,2021-03-01 18:46:00+00:00,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile,5 days 05:14:00

**Adding hemisphere id column**

* 0 for Northern Hemisphere
* 1 for Southern Hemisphere

In [10]:
fire_df['Hemi ID'] = np.where(fire_df['Hemisphere'] == 'Northern Hemisphere', 0, 1)

#np.where(condition, value if condition is true, value if condition is false)
# There's more than one way to do this.  .map with a lambda function, possibly Label Encoder

In [11]:
fire_df.head()

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country,Event Length,Hemi ID
0,EONET_5285,Gila Fire,2021-04-13 00:00:00+00:00,2021-04-02 07:15:00+00:00,32.91400,-113.43700,2021,4,Northern Hemisphere,United States,10 days 16:45:00,0
1,EONET_5272,King Fire,2021-03-26 00:00:00+00:00,2021-03-17 15:30:00+00:00,26.95300,-98.08800,2021,3,Northern Hemisphere,United States,8 days 08:30:00,0
2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20 00:00:00+00:00,2021-03-12 14:42:00+00:00,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina,7 days 09:18:00,1
3,EONET_5267,Big Rocks Fire,2021-04-05 00:00:00+00:00,2021-03-08 16:30:00+00:00,37.74000,-115.00100,2021,3,Northern Hemisphere,United States,27 days 07:30:00,0
4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07 00:00:00+00:00,2021-03-01 18:46:00+00:00,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile,5 days 05:14:00,1

### Creating dataframes for database tables

In [12]:
# Creating 3 tables

fire_subset = pd.DataFrame(fire_df[['ID','Name of Fire', 'End Date', 'Event Date', 'Year', 'Month', 'Event Length']])
country_subset = pd.DataFrame(fire_df[['ID', 'Latitude','Longitude', 'Country', 'Hemi ID']])
hemisphere_subset = pd.DataFrame(fire_df[['Hemi ID', 'Hemisphere']])

In [13]:
# rename columns without spaces
# df.rename(columns={"A": "a", "B": "c"})
fire_subset.rename(columns={'Name of Fire':'fire_name', 
                            'End Date': 'end_date', 
                            'Event Date': 'event_date',
                            'Year': 'year',
                            'Month': 'month',
                           'Event Length': 'event_length'}, inplace=True)

fire_subset.tail()

,ID,fire_name,end_date,event_date,year,month,event_length
1939,EONET_180,"Happy Camp Complex Fire, California",2015-09-02 00:00:00+00:00,2014-08-12 01:00:00+00:00,2014,8,385 days 23:00:00
1940,EONET_2515,"Paranorte, Mato Grasso, Brazil Wildfire",2007-10-04 00:00:00+00:00,2007-08-03 00:00:00+00:00,2007,8,62 days 00:00:00
1941,EONET_2516,"Rondonia, Brazil Wildfire",2005-10-14 00:00:00+00:00,2005-07-29 00:00:00+00:00,2005,7,77 days 00:00:00
1942,EONET_2514,"Coniza, Mato Grosso, Brazil Wildfire",2005-10-12 00:00:00+00:00,2005-06-22 00:00:00+00:00,2005,6,112 days 00:00:00
1943,EONET_2517,"Itanhanga, Mato Grosso, Brazil Wildfire",2003-12-19 00:00:00+00:00,2003-01-10 00:00:00+00:00,2003,1,343 days 00:00:00

In [14]:
country_subset.rename(columns={'Hemi ID': 'Hemi_ID'}, inplace=True)
country_subset.head()

           ID  Latitude  Longitude        Country  Hemi_ID
0  EONET_5285  32.91400 -113.43700  United States        0
1  EONET_5272  26.95300  -98.08800  United States        0
2  EONET_5268 -42.59104  -71.38468      Argentina        1
3  EONET_5267  37.74000 -115.00100  United States        0
4  EONET_5263 -33.38700  -71.19793          Chile        1

In [15]:
hemisphere_subset.rename(columns={'Hemi ID': 'Hemi_ID'}, inplace=True)
hemisphere_subset.head()

   Hemi_ID           Hemisphere
0        0  Northern Hemisphere
1        0  Northern Hemisphere
2        1  Southern Hemisphere
3        0  Northern Hemisphere
4        1  Southern Hemisphere

### Create .csv files

In [16]:
# Fire events
fire_subset.to_csv('fire_events.csv', index=False, sep='*')

In [17]:
# Country information for each event
country_subset.to_csv('fire_countries.csv', index=False)

In [18]:
# Hemisphere subset
hemisphere_subset.to_csv('hemisphere.csv', index=False)

### Connecting to Postgres

In [19]:
import psycopg2

In [20]:
# Change password as needed!

# connecting to fires database

conn = psycopg2.connect("host=localhost dbname=fires user=postgres password=XXXXX")

cur = conn.cursor()

In [21]:
cur.execute("""
    CREATE TABLE fire_events(
    ID text PRIMARY KEY,
    fire_name text,
    end_date text,
    event_date text,
    year int,
    month int,
    event_length text 
)
""")

DuplicateTable: relation "fire_events" already exists

In [33]:
conn.commit()

In [ ]:

with open('fire_events.csv', 'r') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cur.copy_from(f, 'fire_events', sep='*')

conn.commit()

In [ ]:
cur.execute("""
    CREATE TABLE countries(
    ID text PRIMARY KEY,
    Latitude float,
    Longitude float,
    Country text,
    Hemi_ID int
)
""")
conn.commit()

In [ ]:

with open('fire_countries.csv', 'r') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cur.copy_from(f, 'countries', sep=',')

conn.commit()

In [ ]:

cur.execute("""
    CREATE TABLE hemisphere(
    Hemi_ID int PRIMARY KEY,
    Hemisphere text
)
""")
conn.commit()

Using INSERT to add values to hemisphere table

In [34]:
cur.execute('INSERT INTO hemisphere VALUES (%s, %s)', (0, "Northern Hemisphere"))
cur.execute('INSERT INTO hemisphere VALUES (%s, %s)', (1, "Southern Hemisphere"))

conn.commit()

In [ ]:

# with open('hemisphere.csv', 'r') as f:
#     # Notice that we don't need the `csv` module.
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'hemisphere', sep=',')
    
# conn.commit()