In [2]:
import pandas as pd
import numpy as np

fire_df = pd.read_csv('fire_data.csv')
fire_df.head()

,Unnamed: 0,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country
0,0,EONET_5285,Gila Fire,2021-04-13T00:00:00Z,2021-04-02T07:15:00Z,32.91400,-113.43700,2021,4,Northern Hemisphere,United States
1,1,EONET_5272,King Fire,2021-03-26T00:00:00Z,2021-03-17T15:30:00Z,26.95300,-98.08800,2021,3,Northern Hemisphere,United States
2,2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20T00:00:00Z,2021-03-12T14:42:00Z,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina
3,3,EONET_5267,Big Rocks Fire,2021-04-05T00:00:00Z,2021-03-08T16:30:00Z,37.74000,-115.00100,2021,3,Northern Hemisphere,United States
4,4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07T00:00:00Z,2021-03-01T18:46:00Z,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile

In [3]:
fire_df.columns

Index(['Unnamed: 0', 'ID', 'Name of Fire', 'End Date', 'Event Date',
       'Latitude', 'Longitude', 'Year', 'Month', 'Hemisphere', 'Country'],
      dtype='object')

In [5]:
fire_df['Hemi_ID'] = fire_df['Unnamed: 0']
fire_df.head()

,Unnamed: 0,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country,Hemi_ID
0,0,EONET_5285,Gila Fire,2021-04-13T00:00:00Z,2021-04-02T07:15:00Z,32.91400,-113.43700,2021,4,Northern Hemisphere,United States,0
1,1,EONET_5272,King Fire,2021-03-26T00:00:00Z,2021-03-17T15:30:00Z,26.95300,-98.08800,2021,3,Northern Hemisphere,United States,1
2,2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20T00:00:00Z,2021-03-12T14:42:00Z,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina,2
3,3,EONET_5267,Big Rocks Fire,2021-04-05T00:00:00Z,2021-03-08T16:30:00Z,37.74000,-115.00100,2021,3,Northern Hemisphere,United States,3
4,4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07T00:00:00Z,2021-03-01T18:46:00Z,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile,4

In [7]:
fire_df.drop('Unnamed: 0', axis=1, inplace=True)
fire_df.head()

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country,Hemi_ID
0,EONET_5285,Gila Fire,2021-04-13T00:00:00Z,2021-04-02T07:15:00Z,32.91400,-113.43700,2021,4,Northern Hemisphere,United States,0
1,EONET_5272,King Fire,2021-03-26T00:00:00Z,2021-03-17T15:30:00Z,26.95300,-98.08800,2021,3,Northern Hemisphere,United States,1
2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20T00:00:00Z,2021-03-12T14:42:00Z,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina,2
3,EONET_5267,Big Rocks Fire,2021-04-05T00:00:00Z,2021-03-08T16:30:00Z,37.74000,-115.00100,2021,3,Northern Hemisphere,United States,3
4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07T00:00:00Z,2021-03-01T18:46:00Z,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile,4

In [8]:
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1944 non-null   object
 1   Name of Fire  1944 non-null   object
 2   End Date      1944 non-null   object
 3   Event Date    1944 non-null   object
 4   Latitude      1944 non-null   float64
 5   Longitude     1944 non-null   float64
 6   Year          1944 non-null   int64
 7   Month         1944 non-null   int64
 8   Hemisphere    1944 non-null   object
 9   Country       1944 non-null   object
 10  Hemi_ID       1944 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 167.2+ KB

In [14]:
fire_df['End Date'] = pd.to_datetime(fire_df['End Date'])
fire_df['Event Date'] = pd.to_datetime(fire_df['Event Date'])
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1944 non-null   object
 1   Name of Fire  1944 non-null   object
 2   End Date      1944 non-null   datetime64[ns, UTC]
 3   Event Date    1944 non-null   datetime64[ns, UTC]
 4   Latitude      1944 non-null   float64
 5   Longitude     1944 non-null   float64
 6   Year          1944 non-null   int64
 7   Month         1944 non-null   int64
 8   Hemisphere    1944 non-null   object
 9   Country       1944 non-null   object
 10  Hemi_ID       1944 non-null   int64
dtypes: datetime64[ns, UTC](2), float64(2), int64(3), object(4)
memory usage: 167.2+ KB

In [15]:
fire_df['Event Length'] = fire_df['End Date'] - fire_df['Event Date']
fire_df.head()

,ID,Name of Fire,End Date,Event Date,Latitude,Longitude,Year,Month,Hemisphere,Country,Hemi_ID,Event Length
0,EONET_5285,Gila Fire,2021-04-13 00:00:00+00:00,2021-04-02 07:15:00+00:00,32.91400,-113.43700,2021,4,Northern Hemisphere,United States,0,10 days 16:45:00
1,EONET_5272,King Fire,2021-03-26 00:00:00+00:00,2021-03-17 15:30:00+00:00,26.95300,-98.08800,2021,3,Northern Hemisphere,United States,1,8 days 08:30:00
2,EONET_5268,"Wildfires - Patagonia Region, Argentina",2021-03-20 00:00:00+00:00,2021-03-12 14:42:00+00:00,-42.59104,-71.38468,2021,3,Southern Hemisphere,Argentina,2,7 days 09:18:00
3,EONET_5267,Big Rocks Fire,2021-04-05 00:00:00+00:00,2021-03-08 16:30:00+00:00,37.74000,-115.00100,2021,3,Northern Hemisphere,United States,3,27 days 07:30:00
4,EONET_5263,Wildfire - Curacavi Commune (Fundo Monterrey F...,2021-03-07 00:00:00+00:00,2021-03-01 18:46:00+00:00,-33.38700,-71.19793,2021,3,Southern Hemisphere,Chile,4,5 days 05:14:00

In [16]:
fire_subset = pd.DataFrame(fire_df[['ID','Name of Fire', 'End Date', 'Event Date', 'Year', 'Month', 'Event Length']])
country_subset = pd.DataFrame(fire_df[['ID', 'Latitude','Longitude', 'Country', 'Hemi_ID']])
hemisphere_subset = pd.DataFrame(fire_df[['Hemi_ID', 'Hemisphere']])

In [20]:
fire_subset.tail()

,ID,Name of Fire,End Date,Event Date,Year,Month,Event Length
1939,EONET_180,"Happy Camp Complex Fire, California",2015-09-02 00:00:00+00:00,2014-08-12 01:00:00+00:00,2014,8,385 days 23:00:00
1940,EONET_2515,"Paranorte, Mato Grasso, Brazil Wildfire",2007-10-04 00:00:00+00:00,2007-08-03 00:00:00+00:00,2007,8,62 days 00:00:00
1941,EONET_2516,"Rondonia, Brazil Wildfire",2005-10-14 00:00:00+00:00,2005-07-29 00:00:00+00:00,2005,7,77 days 00:00:00
1942,EONET_2514,"Coniza, Mato Grosso, Brazil Wildfire",2005-10-12 00:00:00+00:00,2005-06-22 00:00:00+00:00,2005,6,112 days 00:00:00
1943,EONET_2517,"Itanhanga, Mato Grosso, Brazil Wildfire",2003-12-19 00:00:00+00:00,2003-01-10 00:00:00+00:00,2003,1,343 days 00:00:00

In [18]:
country_subset.head()

           ID  Latitude  Longitude        Country  Hemi_ID
0  EONET_5285  32.91400 -113.43700  United States        0
1  EONET_5272  26.95300  -98.08800  United States        1
2  EONET_5268 -42.59104  -71.38468      Argentina        2
3  EONET_5267  37.74000 -115.00100  United States        3
4  EONET_5263 -33.38700  -71.19793          Chile        4

In [19]:
hemisphere_subset.head()

   Hemi_ID           Hemisphere
0        0  Northern Hemisphere
1        1  Northern Hemisphere
2        2  Southern Hemisphere
3        3  Northern Hemisphere
4        4  Southern Hemisphere