# ETL for the stroke dataset

In [1]:
# import the usual and .csv file
import pandas as pd
import numpy as np

over_25_df = pd.read_csv('over_25_subset.csv')
over_25_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_groups
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,65s
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,33.2,never smoked,1,55s
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,75s
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,45s
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,75s

In [27]:
over_25_df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,3738.000000,3738.000000,3738.000000,3738.000000,3738.000000,3738.000000,3738.000000
mean,37181.974853,52.995185,0.120653,0.066613,109.154042,30.753103,0.066078
std,21050.228452,16.012438,0.325767,0.249384,48.508031,7.136936,0.248452
min,84.000000,25.000000,0.000000,0.000000,55.220000,11.300000,0.000000
25%,18761.500000,40.000000,0.000000,0.000000,77.327500,26.000000,0.000000
50%,37727.000000,53.000000,0.000000,0.000000,92.655000,29.600000,0.000000
75%,55417.500000,65.000000,0.000000,0.000000,116.910000,34.375000,0.000000
max,72918.000000,82.000000,1.000000,1.000000,271.740000,92.000000,1.000000

## Create dataframe subsets to use as tables

In [2]:
demographics_df = pd.DataFrame(over_25_df[['id', 'gender', 'age', 'ever_married','work_type','Residence_type','smoking_status']])
medical_df = pd.DataFrame(over_25_df[['id','hypertension','heart_disease','avg_glucose_level','bmi','stroke']])

In [3]:
demographics_df.head()

,id,gender,age,ever_married,work_type,Residence_type,smoking_status
0,9046,Male,67.0,Yes,Private,Urban,formerly smoked
1,51676,Female,61.0,Yes,Self-employed,Rural,never smoked
2,31112,Male,80.0,Yes,Private,Rural,never smoked
3,60182,Female,49.0,Yes,Private,Urban,smokes
4,1665,Female,79.0,Yes,Self-employed,Rural,never smoked

In [4]:
medical_df.head()

      id  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0   9046             0              1             228.69  36.6       1
1  51676             0              0             202.21  33.2       1
2  31112             0              1             105.92  32.5       1
3  60182             0              0             171.23  34.4       1
4   1665             1              0             174.12  24.0       1

### Create CSV files from the new dataframes

In [6]:
demographics_df.to_csv('demographics.csv', index=False)
medical_df.to_csv('medical.csv', index=False)

## Connecting to Postgres

In [5]:
import psycopg2

In [9]:
# saved passwords (in gitignore) read in
from postgres_keys import june_password

In [10]:
# create a function to create our database
def create_database(db, users, pw, hosts):
    conn = psycopg2.connect(database=db, user=users, password=pw, host=hosts)
    conn.autocommit = True
    
    #Creating a cursor object using the cursor() method
    cur = conn.cursor()
    
    #Preparing query to create a database
    sql = '''CREATE database strokes''';
    
    #Creating a database
    cur.execute(sql)
    print("Database created successfully........")
    
    #Closing the connection
    conn.close()

In [21]:
# create a function to access the new database and create tables
def create_tables(db, users, pw, hosts):
    conn = psycopg2.connect(database=db, user=users, password=pw, host=hosts)
    
    cur=conn.cursor()
    
    cur.execute("""DROP TABLE IF EXISTS demographics""")
    cur.execute("""
    CREATE TABLE demographics(
    ID text PRIMARY KEY,
    gender text,
    age float,
    ever_married text,
    work_type text,
    residence_type text,
    smoking_status text)""")
    conn.commit()
    
    with open('demographics.csv', 'r') as f:
        # Notice that we don't need the `csv` module.
        next(f) # Skip the header row.
        cur.copy_from(f, 'demographics', sep=',')
        
    conn.commit()
    
    cur.execute("""DROP TABLE IF EXISTS medical""")
    cur.execute("""
    CREATE TABLE medical(
    ID text PRIMARY KEY,
    hypertension int,
    heart_disease int,
    avg_glucose_level float,
    bmi float,
    stroke int)""")
    
    with open ('medical.csv', 'r') as f:
        next(f)
        cur.copy_from(f, 'medical', sep=',')
        
    conn.commit()

In [12]:
create_database('postgres', 'postgres', june_password, 'localhost')

Database created successfully........

In [22]:
create_tables('strokes', 'postgres', june_password, 'localhost')

### Query to verify it's working

In [29]:
conn = psycopg2.connect(database='strokes', user='postgres', password=june_password, host='localhost')
    
cur=conn.cursor()

cur.execute("""SELECT d.gender, d.age, m.bmi
    FROM demographics as d
    JOIN medical as m
    ON d.id = m.id
    WHERE m.bmi BETWEEN 18.5 and 24.9;""")
cur.fetchall()

[('Female', 79.0, 24.0),
 ('Female', 69.0, 22.8),
 ('Female', 78.0, 24.2),
 ('Female', 71.0, 22.4),
 ('Male', 80.0, 23.5),
 ('Female', 82.0, 22.2),
 ('Female', 72.0, 23.1),
 ('Male', 78.0, 23.9),
 ('Male', 60.0, 20.2),
 ('Female', 80.0, 22.2),
 ('Male', 78.0, 24.0),
 ('Male', 76.0, 20.3),
 ('Female', 80.0, 21.7),
 ('Female', 79.0, 24.1),
 ('Female', 79.0, 22.9),
 ('Female', 70.0, 24.4),
 ('Female', 81.0, 19.4),
 ('Female', 79.0, 24.2),
 ('Male', 79.0, 22.6),
 ('Male', 80.0, 24.2),
 ('Female', 38.0, 24.0),
 ('Female', 80.0, 24.0),
 ('Female', 78.0, 20.1),
 ('Female', 59.0, 23.8),
 ('Female', 74.0, 21.8),
 ('Female', 78.0, 24.6),
 ('Male', 78.0, 23.6),
 ('Female', 79.0, 22.3),
 ('Female', 81.0, 23.4),
 ('Female', 63.0, 23.9),
 ('Female', 48.0, 20.5),
 ('Female', 81.0, 21.5),
 ('Female', 79.0, 21.5),
 ('Male', 66.0, 21.2),
 ('Female', 78.0, 19.6),
 ('Male', 79.0, 22.0),
 ('Female', 42.0, 22.5),
 ('Female', 44.0, 24.6),
 ('Female', 59.0, 23.7),
 ('Female', 25.0, 24.5),
 ('Female', 55.0, 24.8),
 ('Female', 43.0, 21.2),
 ('Female', 27.0, 21.4),
 ('Male', 27.0, 24.3),
 ('Female', 82.0, 24.9),
 ('Female', 49.0, 19.4),
 ('Female', 66.0, 24.6),
 ('Female', 48.0, 20.7),
 ('Female', 60.0, 23.6),
 ('Male', 43.0, 23.5),
 ('Female', 36.0, 23.3),
 ('Female', 39.0, 24.4),
 ('Female', 57.0, 21.0),
 ('Female', 70.0, 22.8),
 ('Male', 26.0, 22.3),
 ('Female', 52.0, 23.8),
 ('Female', 61.0, 23.7),
 ('Female', 78.0, 24.8),
 ('Female', 80.0, 23.2),
 ('Female', 68.0, 22.2),
 ('Male', 31.0, 24.6),
 ('Female', 43.0, 21.8),
 ('Female', 43.0, 22.9),
 ('Female', 32.0, 23.0),
 ('Male', 25.0, 22.1),
 ('Female', 66.0, 22.5),
 ('Female', 66.0, 23.9),
 ('Female', 71.0, 19.2),
 ('Female', 44.0, 21.4),
 ('Male', 49.0, 24.7),
 ('Female', 25.0, 20.9),
 ('Female', 30.0, 20.4),
 ('Female', 26.0, 22.6),
 ('Female', 64.0, 24.6),
 ('Female', 81.0, 19.2),
 ('Female', 52.0, 24.3),
 ('Male', 29.0, 22.8),
 ('Female', 26.0, 20.0),
 ('Female', 47.0, 21.1),
 ('Male', 57.0, 19.4),
 ('Female', 63.0, 23.5),
 ('Female', 39.0, 23.6),
 ('Male', 48.0, 22.3),
 ('Male', 43.0, 21.9),
 ('Female', 66.0, 23.1),
 ('Male', 48.0, 23.3),
 ('Female', 80.0, 22.8),
 ('Female', 54.0, 22.1),
 ('Female', 79.0, 23.0),
 ('Female', 28.0, 22.1),
 ('Female', 80.0, 22.8),
 ('Female', 38.0, 24.3),
 ('Male', 82.0, 21.0),
 ('Female', 26.0, 21.9),
 ('Male', 28.0, 23.7),
 ('Female', 35.0, 19.5),
 ('Female', 45.0, 21.6),
 ('Female', 29.0, 24.2),
 ('Female', 30.0, 23.2),
 ('Female', 44.0, 20.8),
 ('Female', 45.0, 23.1),
 ('Female', 37.0, 22.7),
 ('Female', 28.0, 23.5),
 ('Male', 50.0, 24.4),
 ('Female', 27.0, 24.5),
 ('Male', 47.0, 23.5),
 ('Female', 56.0, 21.3),
 ('Male', 69.0, 23.9),
 ('Female', 69.0, 21.7),
 ('Female', 59.0, 24.2),
 ('Female', 29.0, 22.7),
 ('Female', 42.0, 24.0),
 ('Female', 31.0, 20.5),
 ('Female', 29.0, 20.4),
 ('Female', 41.0, 23.9),
 ('Female', 51.0, 20.9),
 ('Female', 40.0, 23.3),
 ('Male', 61.0, 22.2),
 ('Female', 51.0, 24.7),
 ('Female', 39.0, 22.7),
 ('Male', 44.0, 24.4),
 ('Female', 46.0, 24.9),
 ('Female', 31.0, 24.4),
 ('Male', 45.0, 24.8),
 ('Female', 59.0, 23.4),
 ('Male', 62.0, 24.3),
 ('Female', 27.0, 20.1),
 ('Female', 69.0, 23.3),
 ('Female', 74.0, 24.8),
 ('Male', 64.0, 23.0),
 ('Female', 74.0, 22.1),
 ('Female', 33.0, 18.7),
 ('Female', 47.0, 23.2),
 ('Male', 34.0, 23.2),
 ('Female', 46.0, 20.1),
 ('Female', 37.0, 21.4),
 ('Male', 48.0, 24.9),
 ('Male', 64.0, 24.6),
 ('Female', 50.0, 24.6),
 ('Female', 29.0, 21.0),
 ('Female', 42.0, 22.8),
 ('Female', 50.0, 23.1),
 ('Female', 60.0, 22.1),
 ('Female', 51.0, 23.0),
 ('Female', 81.0, 21.1),
 ('Female', 38.0, 23.6),
 ('Female', 58.0, 23.1),
 ('Female', 50.0, 22.8),
 ('Female', 30.0, 24.0),
 ('Male', 30.0, 22.2),
 ('Female', 77.0, 22.0),
 ('Female', 36.0, 21.6),
 ('Female', 69.0, 22.7),
 ('Female', 59.0, 23.5),
 ('Female', 28.0, 22.7),
 ('Male', 80.0, 24.0),
 ('Female', 67.0, 21.3),
 ('Female', 40.0, 24.1),
 ('Female', 55.0, 18.8),
 ('Male', 46.0, 24.3),
 ('Female', 45.0, 23.1),
 ('Female', 52.0, 20.1),
 ('Female', 55.0, 22.2),
 ('Female', 79.0, 22.1),
 ('Female', 33.0, 22.1),
 ('Female', 32.0, 24.9),
 ('Female', 41.0, 22.8),
 ('Female', 58.0, 19.4),
 ('Female', 79.0, 22.5),
 ('Female', 32.0, 23.4),
 ('Female', 56.0, 23.0),
 ('Male', 53.0, 23.3),
 ('Female', 33.0, 24.8),
 ('Female', 30.0, 22.6),
 ('Male', 63.0, 18.8),
 ('Female', 62.0, 24.5),
 ('Female', 80.0, 19.3),
 ('Male', 79.0, 24.7),
 ('Female', 81.0, 23.0),
 ('Female', 25.0, 24.1),
 ('Female', 35.0, 22.1),
 ('Female', 26.0, 24.9),
 ('Male', 46.0, 24.1),
 ('Female', 50.0, 24.8),
 ('Female', 47.0, 24.7),
 ('Female', 82.0, 20.3),
 ('Female', 74.0, 19.7),
 ('Male', 39.0, 24.1),
 ('Male', 57.0, 21.2),
 ('Female', 45.0, 21.0),
 ('Female', 41.0, 21.1),
 ('Female', 76.0, 24.4),
 ('Female', 40.0, 24.0),
 ('Female', 49.0, 19.3),
 ('Female', 25.0, 23.7),
 ('Female', 71.0, 22.1),
 ('Female', 27.0, 22.3),
 ('Female', 34.0, 24.9),
 ('Female', 30.0, 24.8),
 ('Female', 35.0, 24.4),
 ('Female', 82.0, 20.4),
 ('Male', 75.0, 24.4),
 ('Female', 32.0, 22.8),
 ('Female', 27.0, 20.0),
 ('Female', 49.0, 24.2),
 ('Female', 45.0, 24.7),
 ('Male', 42.0, 23.7),
 ('Female', 47.0, 20.6),
 ('Female', 44.0, 22.1),
 ('Female', 41.0, 24.7),
 ('Female', 75.0, 20.8),
 ('Female', 68.0, 23.1),
 ('Female', 40.0, 23.3),
 ('Female', 62.0, 23.4),
 ('Female', 45.0, 22.8),
 ('Male', 56.0, 22.1),
 ('Female', 28.0, 23.6),
 ('Male', 77.0, 24.1),
 ('Female', 32.0, 21.1),
 ('Female', 65.0, 21.4),
 ('Female', 40.0, 23.6),
 ('Female', 65.0, 19.8),
 ('Female', 79.0, 23.8),
 ('Female', 33.0, 21.4),
 ('Female', 71.0, 19.7),
 ('Female', 29.0, 20.0),
 ('Male', 45.0, 24.0),
 ('Female', 33.0, 22.7),
 ('Female', 43.0, 22.7),
 ('Male', 58.0, 22.2),
 ('Female', 30.0, 24.6),
 ('Female', 51.0, 19.2),
 ('Female', 73.0, 20.8),
 ('Female', 53.0, 21.6),
 ('Female', 45.0, 24.0),
 ('Female', 47.0, 24.4),
 ('Female', 63.0, 20.5),
 ('Male', 57.0, 23.2),
 ('Female', 26.0, 22.9),
 ('Male', 34.0, 22.2),
 ('Male', 35.0, 23.9),
 ('Female', 35.0, 24.3),
 ('Male', 61.0, 23.7),
 ('Male', 37.0, 24.6),
 ('Female', 82.0, 24.8),
 ('Male', 37.0, 23.6),
 ('Female', 68.0, 24.9),
 ('Female', 53.0, 24.9),
 ('Female', 49.0, 23.2),
 ('Male', 56.0, 23.8),
 ('Male', 63.0, 21.0),
 ('Female', 76.0, 23.5),
 ('Male', 25.0, 20.4),
 ('Female', 31.0, 19.9),
 ('Female', 44.0, 24.1),
 ('Female', 27.0, 22.2),
 ('Male', 38.0, 21.2),
 ('Female', 26.0, 20.2),
 ('Female', 59.0, 21.3),
 ('Female', 45.0, 22.3),
 ('Female', 36.0, 23.2),
 ('Female', 52.0, 21.8),
 ('Female', 41.0, 20.4),
 ('Female', 33.0, 22.3),
 ('Female', 82.0, 22.2),
 ('Female', 53.0, 24.7),
 ('Male', 58.0, 23.1),
 ('Female', 31.0, 22.4),
 ('Female', 78.0, 21.8),
 ('Male', 26.0, 20.0),
 ('Male', 25.0, 24.6),
 ('Female', 41.0, 24.6),
 ('Female', 38.0, 24.2),
 ('Female', 32.0, 22.6),
 ('Male', 54.0, 21.4),
 ('Male', 31.0, 22.6),
 ('Male', 59.0, 23.3),
 ('Female', 57.0, 21.0),
 ('Female', 29.0, 24.1),
 ('Female', 32.0, 20.4),
 ('Female', 79.0, 24.2),
 ('Female', 45.0, 22.2),
 ('Female', 57.0, 19.5),
 ('Female', 35.0, 22.4),
 ('Male', 64.0, 24.2),
 ('Female', 42.0, 20.5),
 ('Female', 62.0, 24.5),
 ('Female', 52.0, 23.8),
 ('Female', 47.0, 23.8),
 ('Female', 26.0, 23.3),
 ('Female', 43.0, 20.4),
 ('Male', 77.0, 20.9),
 ('Female', 29.0, 23.0),
 ('Female', 49.0, 24.7),
 ('Female', 25.0, 19.5),
 ('Female', 36.0, 21.3),
 ('Female', 39.0, 20.9),
 ('Male', 72.0, 24.6),
 ('Female', 26.0, 20.2),
 ('Female', 41.0, 21.5),
 ('Male', 25.0, 24.3),
 ('Female', 47.0, 23.9),
 ('Female', 77.0, 19.4),
 ('Male', 78.0, 21.8),
 ('Female', 26.0, 22.5),
 ('Female', 30.0, 23.9),
 ('Male', 28.0, 22.8),
 ('Male', 34.0, 23.4),
 ('Female', 52.0, 22.0),
 ('Male', 45.0, 23.8),
 ('Female', 77.0, 23.8),
 ('Female', 34.0, 20.4),
 ('Male', 39.0, 23.6),
 ('Female', 49.0, 23.0),
 ('Female', 63.0, 23.1),
 ('Female', 32.0, 20.0),
 ('Female', 47.0, 24.3),
 ('Female', 61.0, 20.3),
 ('Male', 47.0, 24.4),
 ('Female', 68.0, 21.5),
 ('Male', 82.0, 24.7),
 ('Female', 37.0, 24.1),
 ('Female', 64.0, 18.7),
 ('Female', 78.0, 24.5),
 ('Female', 46.0, 20.2),
 ('Male', 47.0, 23.8),
 ('Female', 73.0, 23.7),
 ('Female', 30.0, 23.2),
 ('Female', 80.0, 22.2),
 ('Female', 35.0, 19.8),
 ('Male', 25.0, 23.7),
 ('Female', 28.0, 23.2),
 ('Female', 60.0, 24.6),
 ('Male', 51.0, 20.6),
 ('Male', 53.0, 24.1),
 ('Female', 82.0, 23.7),
 ('Female', 58.0, 24.6),
 ('Female', 47.0, 20.7),
 ('Female', 37.0, 21.4),
 ('Male', 36.0, 22.1),
 ('Female', 49.0, 21.6),
 ('Female', 56.0, 23.0),
 ('Female', 73.0, 24.1),
 ('Male', 46.0, 23.9),
 ('Female', 26.0, 21.7),
 ('Male', 71.0, 24.7),
 ('Female', 36.0, 24.3),
 ('Female', 39.0, 21.3),
 ('Male', 78.0, 21.3),
 ('Female', 50.0, 24.3),
 ('Female', 59.0, 20.9),
 ('Male', 31.0, 21.8),
 ('Male', 55.0, 23.5),
 ('Female', 42.0, 18.5),
 ('Female', 67.0, 22.9),
 ('Female', 31.0, 22.8),
 ('Female', 28.0, 23.1),
 ('Female', 78.0, 22.9),
 ('Female', 76.0, 23.0),
 ('Female', 78.0, 21.1),
 ('Female', 25.0, 24.5),
 ('Female', 28.0, 21.0),
 ('Female', 46.0, 23.8),
 ('Female', 37.0, 24.4),
 ('Female', 82.0, 24.3),
 ('Male', 78.0, 23.5),
 ('Female', 50.0, 23.9),
 ('Female', 62.0, 22.4),
 ('Female', 25.0, 21.0),
 ('Female', 69.0, 19.9),
 ('Female', 38.0, 20.8),
 ('Male', 76.0, 22.0),
 ('Female', 46.0, 23.5),
 ('Female', 50.0, 21.7),
 ('Female', 54.0, 22.7),
 ('Female', 47.0, 23.8),
 ('Female', 80.0, 23.1),
 ('Female', 29.0, 23.4),
 ('Male', 32.0, 20.4),
 ('Female', 39.0, 22.1),
 ('Female', 76.0, 22.8),
 ('Female', 78.0, 23.0),
 ('Male', 27.0, 22.0),
 ('Female', 44.0, 20.9),
 ('Female', 35.0, 24.2),
 ('Female', 50.0, 21.1),
 ('Female', 27.0, 24.8),
 ('Female', 62.0, 19.6),
 ('Male', 39.0, 24.7),
 ('Female', 56.0, 23.1),
 ('Male', 63.0, 24.1),
 ('Male', 51.0, 20.2),
 ('Female', 26.0, 20.1),
 ('Male', 32.0, 23.2),
 ('Male', 77.0, 23.0),
 ('Female', 41.0, 23.4),
 ('Female', 34.0, 24.1),
 ('Male', 28.0, 24.3),
 ('Female', 37.0, 24.1),
 ('Female', 72.0, 23.9),
 ('Male', 46.0, 24.7),
 ('Female', 27.0, 21.6),
 ('Male', 34.0, 22.2),
 ('Male', 48.0, 23.5),
 ('Male', 79.0, 24.9),
 ('Male', 79.0, 21.7),
 ('Female', 75.0, 20.9),
 ('Female', 31.0, 21.8),
 ('Female', 47.0, 21.7),
 ('Male', 62.0, 22.5),
 ('Female', 47.0, 21.3),
 ('Female', 35.0, 24.6),
 ('Female', 70.0, 22.3),
 ('Male', 79.0, 22.9),
 ('Female', 78.0, 23.6),
 ('Male', 40.0, 24.9),
 ('Female', 62.0, 24.5),
 ('Female', 55.0, 24.2),
 ('Female', 39.0, 22.9),
 ('Female', 51.0, 23.1),
 ('Female', 49.0, 24.8),
 ('Female', 57.0, 24.0),
 ('Female', 43.0, 23.9),
 ('Female', 31.0, 22.7),
 ('Female', 42.0, 22.7),
 ('Male', 32.0, 23.8),
 ('Male', 73.0, 23.0),
 ('Female', 56.0, 24.8),
 ('Female', 55.0, 22.2),
 ('Female', 64.0, 22.0),
 ('Female', 33.0, 20.2),
 ('Male', 30.0, 23.9),
 ('Female', 72.0, 22.1),
 ('Female', 37.0, 20.4),
 ('Female', 35.0, 24.4),
 ('Female', 32.0, 22.6),
 ('Female', 52.0, 22.4),
 ('Female', 82.0, 22.9),
 ('Female', 50.0, 20.8),
 ('Male', 80.0, 22.1),
 ('Female', 42.0, 20.6),
 ('Female', 49.0, 23.3),
 ('Female', 61.0, 23.7),
 ('Female', 64.0, 24.4),
 ('Male', 54.0, 21.7),
 ('Female', 26.0, 24.6),
 ('Female', 57.0, 19.2),
 ('Female', 25.0, 22.6),
 ('Female', 45.0, 24.2),
 ('Female', 53.0, 22.1),
 ('Female', 26.0, 24.7),
 ('Male', 47.0, 22.2),
 ('Female', 75.0, 21.4),
 ('Female', 55.0, 21.2),
 ('Female', 51.0, 22.7),
 ('Female', 79.0, 24.1),
 ('Female', 27.0, 23.4),
 ('Female', 26.0, 23.2),
 ('Female', 44.0, 21.3),
 ('Male', 44.0, 22.6),
 ('Male', 34.0, 19.4),
 ('Female', 34.0, 23.4),
 ('Female', 72.0, 23.4),
 ('Female', 41.0, 24.8),
 ('Female', 29.0, 24.8),
 ('Female', 79.0, 21.4),
 ('Male', 44.0, 24.8),
 ('Female', 26.0, 24.9),
 ('Female', 80.0, 23.7),
 ('Female', 72.0, 21.9),
 ('Female', 25.0, 23.9),
 ('Female', 38.0, 22.6),
 ('Female', 63.0, 24.3),
 ('Male', 82.0, 24.0),
 ('Female', 61.0, 24.5),
 ('Female', 57.0, 20.0),
 ('Female', 38.0, 23.5),
 ('Female', 37.0, 22.3),
 ('Female', 46.0, 24.2),
 ('Female', 66.0, 22.7),
 ('Female', 37.0, 22.7),
 ('Female', 77.0, 24.9),
 ('Female', 26.0, 20.3),
 ('Female', 55.0, 22.5),
 ('Female', 51.0, 21.5),
 ('Female', 46.0, 24.3),
 ('Female', 61.0, 19.1),
 ('Male', 40.0, 23.9),
 ('Female', 44.0, 20.9),
 ('Female', 44.0, 24.5),
 ('Male', 41.0, 24.0),
 ('Female', 35.0, 21.3),
 ('Female', 45.0, 21.5),
 ('Female', 27.0, 19.5),
 ('Female', 50.0, 18.7),
 ('Female', 61.0, 24.5),
 ('Female', 27.0, 21.0),
 ('Male', 82.0, 24.3),
 ('Male', 30.0, 19.2),
 ('Male', 48.0, 21.9),
 ('Female', 35.0, 23.8),
 ('Female', 53.0, 22.4),
 ('Female', 43.0, 23.9),
 ('Female', 32.0, 22.1),
 ('Female', 80.0, 24.0),
 ('Female', 51.0, 23.9),
 ('Female', 42.0, 23.8),
 ('Male', 78.0, 24.1),
 ('Female', 75.0, 24.8),
 ('Female', 60.0, 24.5),
 ('Male', 43.0, 21.6),
 ('Female', 40.0, 23.9),
 ('Male', 71.0, 21.5),
 ('Female', 26.0, 23.8),
 ('Female', 46.0, 23.3),
 ('Female', 29.0, 21.2),
 ('Female', 56.0, 20.2),
 ('Female', 78.0, 24.2),
 ('Male', 79.0, 22.0),
 ('Female', 62.0, 23.4),
 ('Female', 50.0, 21.6),
 ('Female', 25.0, 21.5),
 ('Female', 25.0, 21.0),
 ('Female', 37.0, 24.1),
 ('Male', 45.0, 19.8),
 ('Female', 38.0, 21.5),
 ('Female', 63.0, 21.4),
 ('Female', 46.0, 21.2),
 ('Male', 78.0, 22.7),
 ('Female', 46.0, 22.5),
 ('Female', 38.0, 22.4),
 ('Female', 32.0, 24.0),
 ('Female', 28.0, 24.5),
 ('Female', 65.0, 22.4),
 ('Male', 43.0, 23.9),
 ('Female', 58.0, 23.5),
 ('Male', 81.0, 24.1),
 ('Female', 28.0, 19.1),
 ('Female', 45.0, 21.1),
 ('Female', 30.0, 21.4),
 ('Female', 31.0, 22.9),
 ('Female', 68.0, 21.5),
 ('Female', 63.0, 24.2),
 ('Female', 29.0, 22.2),
 ('Male', 78.0, 24.4),
 ('Female', 47.0, 22.3),
 ('Male', 57.0, 24.7),
 ('Female', 38.0, 22.2),
 ('Female', 39.0, 23.7),
 ('Male', 56.0, 21.9),
 ('Male', 49.0, 24.0),
 ('Female', 55.0, 20.1),
 ('Male', 50.0, 23.5),
 ('Female', 51.0, 24.8),
 ('Male', 39.0, 24.9),
 ('Male', 33.0, 23.9),
 ('Female', 30.0, 24.0),
 ('Female', 30.0, 24.2),
 ('Female', 61.0, 19.1),
 ('Male', 55.0, 22.3),
 ('Female', 36.0, 22.8),
 ('Female', 25.0, 23.8),
 ('Female', 28.0, 24.7),
 ('Female', 74.0, 23.6),
 ('Female', 45.0, 22.3),
 ('Male', 82.0, 19.8),
 ('Female', 56.0, 24.9),
 ('Female', 59.0, 23.4),
 ('Male', 29.0, 24.5),
 ('Female', 36.0, 23.2),
 ('Male', 26.0, 23.3),
 ('Female', 56.0, 21.8),
 ('Female', 50.0, 22.4),
 ('Female', 36.0, 22.3),
 ('Female', 59.0, 20.0),
 ('Male', 57.0, 24.2),
 ('Female', 81.0, 20.7),
 ('Male', 79.0, 23.6),
 ('Female', 26.0, 22.2),
 ('Male', 25.0, 24.7),
 ('Male', 46.0, 24.7),
 ('Female', 35.0, 20.6),
 ('Female', 27.0, 23.0),
 ('Female', 28.0, 21.5),
 ('Female', 67.0, 24.9),
 ('Female', 35.0, 22.9),
 ('Male', 81.0, 23.9),
 ('Female', 34.0, 22.0),
 ('Female', 31.0, 24.9),
 ('Female', 49.0, 22.7),
 ('Female', 33.0, 20.2),
 ('Female', 43.0, 24.8),
 ('Male', 25.0, 23.5),
 ('Male', 65.0, 21.5),
 ('Male', 81.0, 23.4),
 ('Female', 32.0, 24.0),
 ('Female', 36.0, 24.4),
 ('Female', 29.0, 19.6),
 ('Female', 45.0, 20.5),
 ('Male', 44.0, 24.1),
 ('Female', 54.0, 20.8),
 ('Female', 28.0, 22.7),
 ('Female', 29.0, 24.7),
 ('Female', 73.0, 20.6),
 ('Female', 52.0, 23.8),
 ('Female', 79.0, 19.5),
 ('Female', 26.0, 22.2),
 ('Male', 54.0, 23.5),
 ('Female', 32.0, 22.2),
 ('Female', 40.0, 24.1),
 ('Female', 71.0, 24.2),
 ('Female', 27.0, 20.3),
 ('Female', 38.0, 24.2),
 ('Female', 64.0, 19.3),
 ('Male', 81.0, 22.2),
 ('Female', 38.0, 20.6),
 ('Female', 38.0, 23.4),
 ('Female', 27.0, 21.4),
 ('Female', 54.0, 21.9),
 ('Female', 78.0, 24.1),
 ('Female', 66.0, 21.4),
 ('Female', 42.0, 24.5),
 ('Male', 78.0, 21.2),
 ('Male', 51.0, 24.3),
 ('Female', 53.0, 23.1),
 ('Male', 28.0, 23.4),
 ('Male', 63.0, 23.5),
 ('Male', 42.0, 23.8),
 ('Female', 36.0, 24.9),
 ('Female', 43.0, 23.5),
 ('Female', 62.0, 24.8),
 ('Female', 39.0, 23.6),
 ('Male', 26.0, 20.2),
 ('Male', 54.0, 24.5),
 ('Female', 37.0, 20.4),
 ('Female', 56.0, 23.3),
 ('Female', 42.0, 20.1),
 ('Female', 25.0, 18.6),
 ('Female', 46.0, 22.7),
 ('Female', 33.0, 23.2),
 ('Female', 26.0, 24.5),
 ('Female', 78.0, 24.3),
 ('Female', 55.0, 19.8),
 ('Male', 25.0, 23.1),
 ('Female', 63.0, 23.6),
 ('Female', 47.0, 23.9),
 ('Female', 68.0, 20.2),
 ('Male', 31.0, 23.0),
 ('Female', 48.0, 19.9),
 ('Female', 43.0, 20.4),
 ('Female', 82.0, 21.5),
 ('Female', 29.0, 22.5),
 ('Male', 75.0, 24.5),
 ('Female', 60.0, 23.6),
 ('Female', 28.0, 21.1),
 ('Female', 47.0, 22.2),
 ('Female', 76.0, 23.3),
 ('Female', 44.0, 20.2),
 ('Female', 73.0, 22.6),
 ('Male', 42.0, 24.3),
 ('Female', 74.0, 21.7),
 ('Female', 36.0, 21.6),
 ('Male', 75.0, 24.4),
 ('Female', 47.0, 23.8),
 ('Female', 62.0, 23.4),
 ('Male', 33.0, 23.4),
 ('Female', 56.0, 23.4),
 ('Female', 31.0, 24.1),
 ('Female', 60.0, 23.4),
 ('Male', 40.0, 24.8),
 ('Female', 62.0, 21.8),
 ('Female', 26.0, 21.8),
 ('Female', 44.0, 21.2),
 ('Female', 34.0, 22.4),
 ('Female', 50.0, 23.4),
 ('Female', 50.0, 21.6),
 ('Female', 39.0, 24.9),
 ('Female', 79.0, 21.5),
 ('Female', 44.0, 24.4),
 ('Female', 34.0, 23.9),
 ('Female', 40.0, 23.6),
 ('Female', 79.0, 24.5),
 ('Female', 48.0, 22.1),
 ('Female', 81.0, 20.1),
 ('Female', 35.0, 24.5),
 ('Female', 40.0, 24.1),
 ('Female', 26.0, 18.7),
 ('Male', 56.0, 24.6),
 ('Male', 30.0, 21.1),
 ('Male', 33.0, 24.8),
 ('Female', 41.0, 24.5),
 ('Female', 47.0, 24.7),
 ('Female', 61.0, 22.7),
 ('Male', 70.0, 24.3),
 ('Male', 80.0, 24.3),
 ('Female', 34.0, 23.0),
 ('Female', 51.0, 21.8),
 ('Male', 26.0, 21.0),
 ('Female', 45.0, 24.5),
 ('Female', 57.0, 21.7)]

In [30]:
cur.execute("""SELECT COUNT(id)
    FROM medical
    WHERE bmi BETWEEN 18.5 and 24.9;""")
Normal_BMI = cur.fetchall()
print('The number of participants with a normal BMI: ', Normal_BMI[0][0])

The number of participants with a normal BMI:  700

In [31]:
# close the connection
conn.close()